[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"flake8" = "*"
pylint = "*"
"autopep8" = "*"
ipython = "*"

[packages]
Django = "*"
pytest-django = "*"
"dj.choices" = "*"
django-filter = "*"
djangorestframework-filters = "*"
django-annoying = "*"

[requires]
python_version = "3.6"
